
:root {
  --color-primario: #34e0d6;
  --color-secundario: #21b1a6;
  --color-terciario: #0c7169;
  --color-cuaternario: #043434;
  --color-texto-claro: #ffffff;
  --color-fondo-claro: #f0fdf4;
  --color-fondo-oscuro: #041e1e;
}

body {
  background-color: var(--color-fondo-claro);
  color: var(--color-cuaternario);
  background-image: linear-gradient(to bottom, var(--color-fondo-claro), #e0f7fa);
}


main {
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(4, 36, 37, 0.7);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.bloquePrincipal {
  text-align: center;
}

.titulo-principal {
  font-size: 4.25rem;
  margin-bottom: 1.5rem;
  color: var(--color-primario);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



#servicios-lista {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
}

.servicio-destacado {
  background-color: rgba(255, 255, 255, 0.06);
  padding: 1.5rem;
  border-radius: 0.75rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.servicio-destacado:hover {
  transform: translateY(-10px) scale(1.04);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.1);
}

.servicio-destacado i {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--color-primario);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.servicio-destacado span {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-texto-claro);
}

footer {
  background-color: var(--color-fondo-oscuro);
  color: var(--color-texto-claro);
  padding: 2.5rem 0;
  margin-top: 4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  text-align: center;
}

